[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
project = {file = ".", editable = true}
selenium = "*"
beautifulsoup4 = "*"
requests = "*"
spotipy = "*"
setuptools = "*"

[dev-packages]
black = "*"
colorama = "*"
coverage = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
types-beautifulsoup4 = "*"
types-requests = "*"

[requires]
python_version = "3.12"

[scripts]
