/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #000000;
        --body-color: #FFFFFF;
    }
}

body {
    background: var(--body-bg);
    color: var(--body-color);
}

#playlist {
    width: 600px;
    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
}