/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #000000;
        --body-color: #FFFFFF;
    }
}

body {
    background: var(--body-bg);
    color: var(--body-color);
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: #f8f9fa;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#player {
    width: 80%;
    height: 25%;
    max-width: 600px;
    max-height: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#controls button {
    background-color: #1864ab;
    color: #e7f5ff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#controls button:hover {
    background-color: #1c7ed6;
    color: #d0ebff;
}

#playlist {
    width: 90%;
    height: 60%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
}

.playlist-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #495057;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playlist-item:hover {
    background-color: #1c7ed6;
    color: #f8f9fa;
}

.playlist-item:last-child {
    margin-bottom: 0;
}

.playlist-item-nameline {
    font-weight: bold;
}

/*.playlist-item-artistline {}*/

.playlist-item-animeline {
    font-size: small;
}

.playlist-item-episodeline {
    font-size: small;
}

@media (max-width: 600px) {
    #controls button {
        padding: 10px;
    }
}