/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #FFFFFF;
        --body-color: #000000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #000000;
        --body-color: #FFFFFF;
    }
}

body {
    background: var(--body-bg);
    color: var(--body-color);
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    margin: 0;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#player {
    width: 90%;
    max-width: 400px;
    max-height: 300px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#controls button {
    background-color: #444;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#controls button:hover {
    background-color: #666;
    color: #4a8bad;
}

#playlist {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
}

.playlist-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playslist-item:hover {
    background-color: #666;
    color: #4a8bad;
}

.playlist-item:last-child {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    #controls button {
        padding: 10px;
    }
}